.global_container{
    margin-bottom: 10%;
    margin-top: 10%;
}
#line {
    background-color: #C11010;
    display: block;
    width: 40px;
    height:2px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
.secTitle h3 {
    margin-top:3%;
}
.secTitle p {
    font-size: 14px;
    margin-top:-5px;
}
#news-org-title {
    font-size:14px;
    font-family:"RedHatDisplay";
    font-weight: 400px;
}
#global-news-anchor{
    text-decoration: none !important;
    color: black;
}

.topic_thumbnail{
    width:25px !important;
    height: 25px !important;

}
.img-thumbnail{
    padding:0;
    border:none;

}