/* krub-regular - latin */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@font-face {
    font-family: 'Krub';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/krub-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/krub-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/krub-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/krub-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/krub-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/krub-v4-latin-regular.svg#Krub') format('svg'); /* Legacy iOS */
  }
@font-face {
font-family: "RedHatDisplay";
src: url('../fonts/RedHatDisplay-MediumItalic.eot');
src: local(''),
        url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"),
        url("../fonts/RedHatDisplay-Medium.woff") format("woff");
font-style: normal;
font-weight: 400;
font-display: fallback;
}
@font-face {
font-family: "RedHatDisplay";
src: url('../fonts/RedHatDisplay-Regular.eot');
src: local(''),
        url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"),
        url("../fonts/RedHatDisplay-Regular.woff") format("woff");
font-style: normal;
font-weight: 300;
font-display: fallback;
}
@media only screen and (max-device-width: 480px) {
    html {
        width: 100%;
    }
    div.content {
        margin:auto;
    }
    div.navbar{
        height: max-content;
        float:left;
        margin:auto;
        margin-bottom: 10%;
    }
    div.navbar a {
        width:30%;
    }
    div#pane-1 {
        padding-bottom:10%;
        width: 80%;
        height: max-content;
    }
    div.title {
        width:80%;
        height:max-content;
    }
    div.input-group {
        width:100%;
        height:max-content;
        margin-bottom:20px;
    }
    div.left-pane,
    div.right-pane {
        margin:auto;
        width: 90%;
    }
    div.video {
        margin-left: 10%;
        align-content: center;
        margin-bottom:10%;
    }
    div.right-pane img {
        margin: 0% 0% 0% 20%;
    }
    div.pane-2 {
        margin-top:20%;
        padding-left:10%;
        width:100%;
        height:max-content;
    }
    div.pane-3 {
        margin-top:20%;
        width:100%;
    }
    
}
body {
    font-family: 'Krub';
    margin-left:auto;
    margin-right:auto;
}
h1 {
    font-size: 25px;
    font-family: 'RedHatDisplay';
    font-weight: 300px;
}
h2 {
    color: #C11010;
    font-size: 16px;
}
h3 {
    line-height: 0.8em;
    font-size: 25px;
    font-family:'RedHatDisplay';
    font-weight: 300px;
}
p {
    color: #0B0B0B;
    font-size: 14px;
    margin-top: 5%;
}
#line {
    background-color: #C11010;
    display: block;
    width: 40px;
    height:2px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
.content {
    width: 100%;
}

.img_logo {
    margin-top: 5%;
    margin-left: 10%;
    float: left;
    height: 80px;
    width: auto;
}
#nav {
    width:100%;
    height:max-content;
}
.navbar {
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    float:right;
    display: block;
    width: 60%;
    height:max-content;
    position: relative;
    left:3%;
  }
  
  .navbar a {
    float: left;
    padding: 20px;
    color: #0B0B0B;
    text-decoration: none;
    font-size: 14px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
  }
  
/* to include underline on selected section */

.title {
    left:10%;
    position: relative;
    display: inline-block;
    align-content: center;
    width: 50%;
    height: max-content;
    font-size: 30px;
    line-height: 1.2em;
    text-align: center;
    text-decoration: none;
    font-weight: 300px;
    font-family: 'RedHatDisplay';
}
.title-1 {
    left:25%;
    display: block;
    position:relative;
    text-align: center;
    width: 50%;
    height: max-content;
}

.input-group .mb-group-mb-3 {
    border-radius: 50px !important;
}
.input-group .form-control {
    font-size: 14px !important;
    height: 40px; 
}
.input-group-2 {
    display: table;
    border-collapse:separate;
    border: 0px;
    width:100%;
    height: 100%;
  }
  .input-group-2 > div{
    display: table-cell;
    vertical-align: middle;  /* needed for Safari */
    height: 100%;
    border-radius:10px 0 0 10px;
  }
  .input-group-2-icon{
    background:#eee;
    color: #0B0B0B;
    padding: 15px 30px 20px;
    align-content: center;
    font-size: 10px;
    text-align: center; 
  }
  .input-group-2-area{
    height: inherit;
    width:100%;
    align-content: center;
    text-align: center;
    font-size: 14px;
  }
  .input-group-2 input{
    border: 0px;
    display: inline-block;
    width: 100%;
    height:100%;
    border-radius: 0 10px 10px 0px;
    padding: 15px;
    overflow: hidden;
  }
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
.round{
    border-bottom-right-radius:50px;
    border-bottom-left-radius:50px;
   -moz-border-radius-bottomright:50px;
   -moz-border-radius-bottomleft:50px;
   -webkit-border-bottom-right-radius:50px;
   -webkit-border-bottom-left-radius:50px;
    -moz-border-radius-topright:50px;
    -moz-border-radius-topleft:50px;
    -webkit-border-top-right-radius:50px;
    -webkit-border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-top-left-radius:50px;
}
#pane-1 {
    left:10%;
    margin-top:5%;
    position: relative;
    width: 80%;
    height: max-content;
    padding: 30px 30px 5px;
    border-radius:50px;
    background-color: #C11010;
    color: #0B0B0B;
    font-size: 20px;
    display: none;
    flex-wrap: wrap-reverse;
}
.row:after {
    content: "";
    display: table;
    clear: both
}
.preview-tab {
    text-align: center;
    background-color: #0B0B0B;
    color: white;
    border-radius: 10px;
    padding: 40px 15px;
    width: 100px;
    height: max-content;
    font-size: 10px;
}
#copy-title{
    margin-left: 15%;
    color:white;
    font-size: 14px;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.pane-2 {
    left:0;
    display: inline-block;
    margin-top: 10%;
    position: relative;
    background-color:#F2F2F2;
    color: #0B0B0B;
    width: 100%;
    height: max-content;
    padding: 60px 0px 100px 60px;
}
.left-pane {
    margin-left:5%;
    float: left;
    width: 60%;
    height: max-content;
}
.right-pane {
    right: 0px;
    float: right;
    width: 30%;
    height: max-content;
}
#video {
    display: inline-block;
    position: relative;
    width: 300px;
    border-radius:10px;
    height: auto;
}
.pane-3 {
    margin-top:5%;
    display: block;
    align-content: center;
    position: relative;
    color: #0B0B0B;
    width: 100%;
    height: max-content;
}
.instruction-pane {
    display: block;
    position: relative;
    margin-top: 10%;
    width: 100%;
    max-width: 550px;
    height: 550px;
    padding: 35px;
    border-radius: 35px;
    border: solid darkgray 3px;
    overflow: auto;
}
#number {
    color:#C11010;
    font-weight: 100px;
    font-style: bold;
    font-size: 50px;
    font-family:'RedHatDisplay';
}
#name {
    float:right;
    left:0px;
    width:88%;
    padding-top: 10px;
}
#resp-table {
    display: table;
    width: auto;
}
#resp-table-header {
    display: table-header-group;
    background-color: #C11010;
    color: white;
    font-family: "RedHatDisplay";
    font-weight:300px;
    font-size: 14px;
}
.table-header-cell{
    display: table-cell;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#resp-table-body{
    display: table-row-group;
    width: auto;
}
.resp-table-row{
    display: table-row;
}
.table-body-cell{
    display: table-cell;
    padding: 10px;
    font-size: 12px;
    text-align: justify;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#btn-call-to-action {
    padding: 15px;
    border-radius: 10px;
    background-color: #C11010;
    color: #F2F2F2;
    font-family: 'RedHatDisplay';
    font-weight: 300px;
    font-size: 14px;
    text-align: center;
}
#warning {
    background-color: #F2F2F2;
    width: auto;
    height:max-content;
    margin-top:5%;
    border-radius: 10px;
    font-style: italic;
    font-size: 12px;
    font-family: 'Krub';
    padding:20px;
}
.left {
    margin-left:5%;
    float: left;
    width: 50%;
    height: max-content;
}
.right {
    right: 0px;
    float: right;
    width: 50%;
    height: max-content;
}
.call-to-action {
    margin-top:10%;
    position:absolute;
    padding: 10px;
    margin-right:10%;
    right:0;
    border-radius: 10px;
    background-color: #C11010;
    color: white;   

}
.call-to-action a {
    text-decoration: none;
    color: white; 
    padding: 10px;
}
.pane-4 {
    align-content: center;
    display: block;
    margin-top: 5%;
    position: relative;
    color: #0B0B0B;
    width: 100%;
    height: max-content;
}
footer {
    width:100%;
    height: auto;
    font-size:10px;
    padding:10px;
    background-color: #F2F2F2;
    margin-top: 10%;
    position: relative; 
    text-align: right;
    align-content: center;
}