.pastConv_container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: medium;
}

#line {
    background-color: #C11010;
    display: block;
    width: 40px;
    height:2px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
/* .carousel-item{
    display: block !important;
} */

.secTitle{
    margin-bottom: 5%;
    text-align: center;
}
.convTitle{
    color: #C11010;
    position: absolute;
    font-size: 10px;
    top:10%;
    left:10%; 
}

.convBubble_container{
    position: relative;
    margin-left:5%;
    margin-right:5%;
    padding:1%;
    margin-top: 5%;
    width:auto;
    height: max-content;
    
}


#bubble_img{
    width: 100%;
    height: max-content;
    position: absolute;
    left: 0%;
    /* top:10%; */
}
.carousel {
    /* padding:5%; */
    width: 100% !important; 
    height: 100% !important;
} 

.carousel-inner img{
    padding-top: 1em;
}
.carousel-caption{
    top:10%;
    left:10% !important
}
.carousel-caption h3 {
    color: #0b0b0b;
    text-align: left;
    font-size: 18px;
    line-height: 1.2em !important;
    
}
.carousel-caption p{
    color: #0b0b0b;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 12px;
    margin-top:20%;
}
.carousel-indicators {
    bottom: 50px !important;
}
.carousel-indicators li{
    background-color:gray !important;
    /* bottom: 5%  !important; */
    /* margin-top:5% !important; */
    top:50% !important;
    width: 50px !important;
}
.carousel-indicators .active{
    background-color: #c11010 !important;
}
.tc-logo {
    position: relative;
}
.author-container {
    margin-top: 5%;
}


.bubble_imge-container{
    background-image: url('../img/speech_bubble2.png');
    background-size: cover;
    width: 80%;
    height: 400px;
    max-width: 500px;
    min-height: 400px;
    max-height: 500px;

}