.topiclist{
    
    margin:auto;
    padding:10%;
    
}

.list-group  a{
    text-decoration: none !important;
    color: #212529
    
}

.list-group-item{
    border: none !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    
}