.mobile-container {
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}
.topiclist{
    margin:auto;
    padding:10%;
}

.list-group  a{
    text-decoration: none !important;
    color: #212529
    
}

.list-group-item{
    border: none !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    
}

.topic_thumbnail{
    /* something wrong here */
    width: 5%;
    height: auto;
    margin-right: 5%;
}
#image-container {
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center;
}
#image-container img{
    width: 10%;
    height:auto;
}
.topic-page-tagline{
    padding: 5% 15% 0 15%;
}

#first-tagline{
    font-size: 14px;
}
#second-tagline {
    font-size: 20px;
    font-weight: 400px;
    font-style: bold;
}
.search-section{
    position: relative;
    max-width: 500px;
    margin-left:5%;
    margin-top: 30%;
    /* padding: 0 10% 3% 10%; */
    width: 90%;
}

#search_button{
    position: absolute;
}

#search_input{
    border: none;
    width: 100%;
    max-width: 400px;
}
.news-org-logo{
    height: auto;
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}
.news-org-logo img {
    display: inline-block;
    text-align: center;
    align-content: center;
    width:150px;
    height:auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.topic_page_overall{
    /* position: relative; */
    width: 100%;
    height: max-content;
    max-height:100%;

}
.topic_container{
    width: 100%;
    height: max-content;
    top: 0;
    bottom: 0;
    -webkit-animation: show-animation 1s linear forwards;

}

#loading_div{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 400px;
    top: 0;
    bottom: 0;

}

.success {
    -webkit-animation: hide-animation 3s  linear forwards;
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100vh;
    width: 100vw; */
    background-color: rgba(0, 0, 0, 0);
    z-index: 100000;
}


@keyframes hide-animation {
    0% {
    opacity: 1;
    visibility: visible;
    }

    50% {
        opacity: 1;
        visibility: visible;
        }

    75% {
        opacity: 1;
        visibility: visible;
        }
    100% {
    opacity: 1;
    visibility: hidden;
    }
}


@keyframes show-animation {
    0% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    50% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    75% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    100% {
        opacity: 1;
        visibility: visible;
        
    }
    }


.topic_thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
