#line {
    background-color: #C11010;
    display: block;
    width: 40px;
    height:2px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.video-sec-container{
    margin:10%;
}

.ind-video-container{
    margin-top:5%;
}
.video iframe{
    width: auto;
    height: auto;
    border-radius: 5px;
}

.video-source{
    margin-top: 5%;
    margin-bottom: 5%;
}

.ind-video{
    margin-bottom:3%;
}

.video-title span 
{
    padding-left: 3%;
}

