.mobile-container {
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
  }
#line {
    background-color: #C11010;
    display: block;
    width: 40px;
    height:2px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.video-sec-container{
    margin-top: 30%;
    margin-left: auto;
    margin-right:auto;
    display: block;
}
.secTitle{
    margin-bottom: 5%;
}
.secTitle h3 {
    margin-top:3%;
    font-size:20px;
}
.secTitle p {
    font-size: 14px;
    margin-top:-5px;
}
.ind-video-container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius:10px;
}
.videos {
    margin-left:auto;
    margin-right:auto;
}
#video-row {
    margin-left:0px !important;
    margin-bottom: 0px !important;
}
.video iframe{
    width: auto;
    height: 180px;
    border-radius: 10px !important;
}

.ind-video {
    margin-bottom:10%;
    margin-top: 5%;
}
.video-title {
    display: block;
}
.video-title span {
    font-family: "RedHatDisplay";
    font-weight: 400px;
    font-size: 18px;
}

