.mobile-container {
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
  }
#line {
    background-color: #C11010;
    display: block;
    width: 40px;
    height:2px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.video-sec-container{
    margin-top: 20%;
    margin-left: auto;
    margin-right:auto;
}
.secTitle{
    margin-bottom: 5%;
    text-align: center;
}
.secTitle p {
    font-size: 14px;
    margin-top:-5px;
}
.ind-video-container{
    margin-top:5%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: max-content;
}
.videos {
    margin-left:auto;
    margin-right:auto;
}
.video iframe{
    width: auto;
    height: auto;
    border-radius: 5px;
}

.video-source{
    margin-top: 5%;
    margin-bottom: 5%;
}

.ind-video {
    margin-bottom:3%;
    margin-top: 3%;
    text-align:center;
}

.video-title span {
    padding: 3% 0% 0% 1%;
    font-family: "Krub";
    font-weight: 400px;
    font-size: 14px;
}

